* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #f4f4f4;
    padding: 30px;
}

.resume {
    max-width: 900px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.header {
    background: #9c9189;
    color: #ffffff;
    text-align: center;
    padding: 40px 30px;
}
a{
    text-decoration: none;
}
.profile img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    object-fit: cover;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.summary {
    max-width: 750px;
    margin: 0 auto 20px;
    line-height: 1.6;
    font-size: 15px;
}

.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
}
.content {
    padding: 40px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 22px;
    border-bottom: 2px solid #9c9189;
    padding-bottom: 8px;
    margin-bottom: 20px;
    color: #333;
}

.job {
    margin-bottom: 25px;
}

.job h3 {
    font-size: 18px;
    color: #333;
}

.job-info {
    font-size: 14px;
    color: #777;
}

.job ul {
    margin-top: 10px;
    padding-left: 20px;
}

.job ul li {
    margin-bottom: 8px;
    line-height: 1.5;
}

.education {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.education div {
    width: 48%;
}

.edu-date {
    font-size: 13px;
    color: #777;
}

.education h4 {
    margin-top: 8px;
    font-size: 16px;
}

.gpa {
    font-weight: bold;
    margin-top: 5px;
}

.skills-section {
    background: #9c9189;
    color: #ffffff;
    padding: 30px;
}

.skills-section h2 {
    color: #ffffff;
    border-color: #ffffff;
}

.skills {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.skills li {
    font-size: 14px;
}
@media (max-width: 768px) {
    .education {
        flex-direction: column;
    }

    .education div {
        width: 100%;
    }
}
