*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#d4dedf;
    color:#c3fafb;
}
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
     background-color: #9c9189;
}

.logo{
    font-size:22px;
    font-weight:bold;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    animation: flip;
    animation-duration: 2s;
     color:#dddce0;
}  
span{
     color:#efeef4;
}  


nav a{
     color:#dddae6;
    text-decoration:none;
    margin-left:20px;
    font-size:14px;
     background-color: #9c9189;
   
  
}

nav a:hover{
    color:#9c9189;
}
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 60px;
}

.content{
    width:55%;
}

.content h1{
    font-size:48px;
    margin-bottom:20px;
     color:#7c5cff;
}

.content h1 span{
    color:#050a09;
}

.content p{
    color:#0f0f0f;
    line-height:1.6;
    margin-bottom:30px;
}

.buttons{
    margin-bottom:30px;
}

.btn{
    padding:12px 22px;
    border-radius:6px;
    text-decoration:none;
    font-size:14px;
    margin-right:10px;
    display:inline-block;
}

.primary{
    background:#7c5cff;
    color:#fff;
}

.secondary{
    border:1px solid #7c5cff;
    color:#7c5cff;
}

.social-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:38px;
    height:38px;
    background:#a3c7cd;
    color:#148ce8;
    border-radius:50%;
    margin-right:12px;
    font-size:16px;
    text-decoration:none;
    transition:0.3s;
    box-shadow: 5px 5px 03px ;
}

.social-icons a:hover{
    background:#7c5cff;
    transform:translateY(-3px);
}

.illustration{
    width:40%;
    display:flex;
    justify-content:center;
}
.illustration img{
    border-radius: 30px;
    box-shadow: 10px 10px 05px rgb(106, 89, 89);
}

.box{
    width:280px;
    height:280px;
    background:linear-gradient(135deg,#b6e7f7);
    border-radius:20px;
    animation: flip;
    animation-duration: 2s;
}

@media (max-width: 900px){
    header{
        padding:20px 30px;
    }

    .hero{
        flex-direction:column;
        padding:60px 30px;
        text-align:center;
    }

    .content{
        width:100%;
    }

    .content h1{
        font-size:36px;
    }

    .illustration{
        width:100%;
        margin-top:40px;
    }

    nav{
        display:none;
    }
}

@media (max-width: 480px){
    .content h1{
        font-size:28px;
    }

    .btn{
        display:block;
        margin:10px auto;
        width:80%;
    }

    .social-icons{
        margin-top:20px;
    }
}